<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!-- /*
    CountdownJ, (c) 2010 Pete R. Jemian <prjemian@gmail.com>
    See LICENSE (GPLv3) for details.
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */ -->

<!--
########### SVN repository information ###################
# $Date: 2010-08-23 16:30:21 -0500 (Mon, 23 Aug 2010) $
# $Author: jemian $
# $Revision: 1304 $
# $URL: http://svn.jemian.org/svn/regitte/CountdownJ/hostarch.xml $
# $Id: hostarch.xml 1304 2010-08-23 21:30:21Z jemian $
########### SVN repository information ###################
-->

<CountdownJ version="1.0j" name="CountdownJ">
  <description>CountdownJ - a timer for presentations</description>
  <author>Pete R. Jemian</author>
  <email>prjemian@gmail.com</email>
  <copyright>(c) 2010 Pete R. Jemian</copyright>
  <license>See the LICENSE file (GPLv3) included in the distribution for details.</license>
</CountdownJ>
